h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
.container{
    margin: 0px!important;
    height: 100%!important;
    width: 100%!important;
}
#sendbutton{
    position: absolute!important;
    top: 85%!important;
    left: 47%!important;
}
#container_video {
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
}

#videoElement {
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
}
